bin/
obj/
debug/
release/

*.old
*.[Cc]ache
*.suo
*.user*
*.pidb
*.gpState
_ReSharper*

*.bak

C5/C5.xml
C5/trees/RedBlackTreeBag.cs
C5/arrays/HashedArrayList.cs
C5/linkedlists/HashedLinkedList.cs
docNet/docnet.xml
